<section>
    {{#each posts as |post|}}
    <div class="post-item">
        <div class="post-item-head">
            <a href="/post/{{post.id}}" class="post-link">
                {{post.title}}
            </a>
        </div>
        <div class="post-item-info">
            <p>Posted by {{post.user.username}} on {{format_date post.created_at}}</p>
            <p>Comments: {{post.comments.length}}</p>
        </div>
    </div>
    {{/each}}
</section>